@font-face {
	font-family: 'robotoBold';
	src: url('fonts/Roboto-Bold.ttf');
 }
 
@font-face {
	font-family: 'roboto';
	src: url('fonts/Roboto-Light.ttf');
 }
 
@font-face {
	font-family: 'robotoMedium';
	src: url('fonts/Roboto-Medium.ttf');
 }
 
@font-face {
	font-family: 'robotoLight';
	src: url('fonts/Roboto-Light.ttf');
 }
 
@font-face {
	font-family: 'robotoThin';
	src: url('fonts/Roboto-Thin.ttf');
 }
 
body {
	background-color: #121314;
	font-family: 'robotoThin';
	margin: 0;
	padding: 0;
 }
 
div {color: #c1c1c1;}
 
.smBlock {margin: 35px auto;}
 
.sideMenu {
	background-color: #212225;
	border-right: 5px solid #1c1c1f;
	bottom: 0;
	left: 0;
	min-height: 595px;
	padding: 0 15px;
	position: fixed;
	text-align: right;
	top: 0;
	width: 200px;
	z-index: 1;
 }
 
.menuItem {
	cursor: pointer;
	display: block;
	font-size: 1.4em;
 }
 
.title {
	font-family: 'robotoLight';
	font-size: 1.5em;
	margin-top: 25px;
	text-align: left;
	color:#fff;
 }
.firstName {
	text-align: center;
	font-family: 'robotoThin';
	font-size: 2.5em;
	color:#fff;
	line-height: .7em;
}
.lastName {
	text-align: center;
	font-family: 'robotoLight';
	font-size: 1.44em;
	color:#fff;
}
.portrait {
	background-color: #212225;
	border-radius: 50%;
	border: 5px solid #fff;
	/*border: 5px solid #0892d0;*/
	height: 138px;
	margin: 20px auto;
	width: 138px;
	background-image: url('../img/photo_bw.jpg');
	background-position: 2px -1px;
 }
 
.nav {padding-right: 15px;}
 
.selected {
	color: #fff;
	font-family: 'robotoMedium';
 }
 
.subtitle {
	font-size: 1em;
	font-style: normal;
	text-align: center;
	color: #e1e1e1;
	margin-bottom: 6em;
	letter-spacing: 0.68em;
	text-indent: .68em;
 }
.content {
	z-index: 1;
	display: block;
	width: 100%-235px;
	height: 100%;
	background-color: #121314;
	left: 235px;
	right:0;
	position: absolute;
 }
 .resume {
	display: block;
	/*background-color: #ccc;*/
	background-color: #121314;
	left: 0;
	width: 50em;
	min-height: 595px;
	padding-top: 3.4em;
	color:#fff;
 }
 .cvBlock {
	min-height: 5em;
	background-color: #aaa;
	width: 40em;
	margin:0em 5em 3em;
	color:#fff;
 }
 .cvBlockHeader {
 	height: 4em;
	color: #fff;
	background-color: #555;
	padding-left: 1em;
 }
 .cvBlockTitle {
	display: inline-block;
	color:#fff;
	font-family: 'robotoThin';
	font-size: 2em;
	line-height: 2em;
	text-indent: .3em;
	letter-spacing: .2em;
 }
 .icon {
 	display: inline-block;
 	width: 1.5em;
 	height: 1.5em;
 	border-radius: 50%;
 	text-align: center;
 	line-height: 1.6em;
 	padding: 0.2em;
 	border: 2px solid #fff;
 }
 .fa {
 	color: #fff;
 }
 .cvBlockContent {
	/*background-color: #333;*/
	height: 8em;
	margin-left: 5.59em;
	margin-top: .5em;
 }
 .cvBlockContentSection {
 	min-height: 5em;
 	margin-bottom: .8em;
 }
 .ItemCircle {
	display: inline-block;
	width: 2.15em;
	height: 2.55em;
	border-radius: 50%;
	text-align: center;
	line-height: 1.4em;
	padding: 0em .5em .5em .5em;
	border: 1px solid #fff;
	background-color: #fff;
	float: left;
 }
 .jobTime>.number, .jobTime>.unit {
 	text-align: center;
 	color:#121314;
 }
 .jobTime>.number {
 	font-size: 1.5em;
 	font-family: 'robotoBold';
 }
 .jobTime>.unit {
 	font-size: .6em;
 	font-weight: bold;
 	font-family: 'robotoMedium';
 }
 .sectionText {
 	float: left;
 	margin-left:1em;
 }
 .sectionTitle {
	font-family: 'roboto';
	font-weight: bold;
 }
 .sectionLabel {
	
 }
 .progLanguages{
 	
 }