@font-face {
	font-family: 'robotoBold';
	src: url('fonts/Roboto-Bold.ttf');
 }
 
@font-face {
	font-family: 'roboto';
	src: url('fonts/Roboto-Light.ttf');
 }
 
@font-face {
	font-family: 'robotoMedium';
	src: url('fonts/Roboto-Medium.ttf');
 }
 
@font-face {
	font-family: 'robotoLight';
	src: url('fonts/Roboto-Light.ttf');
 }
 
@font-face {
	font-family: 'robotoThin';
	src: url('fonts/Roboto-Thin.ttf');
 }
 
body {
	background-color: #212225;
	font-family: 'robotoThin';
	margin: 0;
	padding: 0;
 }
 
div {color: #c1c1c1;}
 
.smBlock {margin: 35px auto;}
 
.sideMenu {
	background-color: #212225;
	border-right: 5px solid #1c1c1f;
	bottom: 0;
	left: 0;
	min-height: 595px;
	padding: 0 15px;
	position: absolute;
	text-align: right;
	top: 0;
	width: 200px;
	z-index: 1;
 }
 
.menuItem {
	cursor: pointer;
	display: block;
	font-size: 1.4em;
 }
 
.title {
	font-family: 'robotoLight';
	font-size: 1.5em;
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: left;
	color:#fff;
 }
.firstName {
	text-align: center;
	font-family: 'robotoThin';
	font-size: 2.5em;
	color:#fff;
	line-height: .7em;
}
.lastName {
	text-align: center;
	font-family: 'robotoLight';
	font-size: 1.44em;
	color:#fff;
}
.portrait {
	background-color: #212225;
	border-radius: 50%;
	border: 6px solid #fff;
	height: 138px;
	margin: 50px auto 80px auto;
	width: 138px;
 }
 
.nav {padding-right: 15px;}
 
.selected {
	color: #fff;
	font-family: 'robotoMedium';
 }
 
.subtitle {
	font-size: 2.06em;
	font-style: normal;
	text-align: center;
	color:#e1e1e1;
	margin-bottom: 2em;
 }
.content {
	z-index: 1;
	display: block;
	width: 100%-235px;
	height: 100%;
	background-color: #fff;
	left: 235px;
	right:0;
	position: absolute;
 }
 .resume {
	display: block;
	background-color: #ccc;
	background-color: #121314;
	left: 0;
	width: 50em;
	min-height: 595px;
	padding-top: 3.4em;
	color:#fff;
 }
 .cvBlock {
	min-height: 5em;
	background-color: #aaa;
	width: 40em;
	margin:0em 5em 1em;
	color:#fff;
 }
 .cvBlockHeader {
 	height: 4em;
	color: #fff;
	background-color: #555;
	padding-left: 1em;
 }
 .cvBlockTitle {
	display: inline-block;
	color:#fff;
	font-family: 'robotoThin';
	font-size: 2em;
	line-height: 2em;
	text-indent: .3em;
 }
 .icon {
 	display: inline-block;
 	width: 1.3em;
 	height: 1.3em;
 	border-radius: 50%;
 	text-align: center;
 	line-height: 1.4em;
 	padding: 0.2em;
 	border: 2px solid #fff;
 }
 .fa {
 	color: #fff;
 }
 .cvBlockContent {
	/*background-color: #333;*/
	height: 8em;
 }